body {
	background: #eeeeee;
	text-align: center;
}

h1{ 
	color: #393e46; 
	font-family: arial;
	}

h2{
	color: #00adb5

}

h2{
	font-family: 'Dancing Script', cursive;
}

h1, h3, h4{
	font-family: 'Quicksand', sans-serif;
}

p{
	color: #393e46
}

h3, ul {
	text-align: center;

}



.logo-instagram { display: flex;
    justify-content: space-between;

    }


.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aad8d3;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #393e46;
}

.link:hover {
  color: #393e46;
}


.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 5px;
  width: 20%;
  background: #393e46;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #00adb5;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #eeeeee;
}


.LR4 {
	border-radius: 50%;
	width: 250px;
	height : 250px;
	object-fit: cover;
	border: 5px solid #393e46;
	box-shadow: 10px 10px 10px grey;
	float: center;
}



.frame {
	border: 4px dashed #393e46;
	margin: 50px auto;
	padding: 100px;
	width: 1000px;

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}



.lien1 {

	display: inline-block;
  color: #eeeeee;
  background: #00adb5;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.lien1:hover {
  color: white;
  opacity: 0.8

  .line-transparent {
  background: black;
  width: 100%;

}

.lien1 {

	display: inline-block;
  color: #eeeeee;
  background: #00adb5;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.lien1:hover {
  color: white;
  opacity: 0.8

  .line-transparent {
  background: black;
  width: 100%;

}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EFDEDE;






